<%= form_for @article do |f| %>
    <form>
        <div class ="form-group form">
            <label>Title</label>
            <%= f.text_field :title, class:"form-control", placeholder:"Enter Title" %>
        </div>
        <div class="form-group form">
             <label>Title</label>
             <%= f.text_area :description, class:"form-control" %>
        </div>
        <%= f.submit "Create Article", class:"btn btn-primary" %>
    </form>
<% end %>  





    
    