<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!--<h1 class="display-4">Fitbody</h1>-->
    <!--<p class="lead">Everything about fintess and bodybuilding.</p>-->
  </div>
</div>