/*
 *= require_self
*/

@import "bootstrap";
@import "normalize.css.scss";

body {
    margin-top: 0px;
}


.navbar  {
    background-color: black !important;
}


.logo {
    color: red !important;
    font-weight: bold;
}

.form {
    margin-left: 50px;
    margin-right: 500px;
}

.left {
    float: left;
}


.jumbotron {
    background-image: asset-url('gym2.jpg');
    background-size: cover;
    height: 800px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.card {
    margin: 10px;
}

.card:hover {
  height: 210px;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
  transform: scale(1.1);  
}

.top-margin {
    margin-top: 20px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
.alert {
    margin-bottom: 0;
    ul {
        list-style-type: none;
    }
}

.form-inline {
    padding-left: 10px;
}