/*
 *= require_self
*/

@import "bootstrap";
@import "normalize.css.scss";

body {
    margin-top: 0px;
}


.navbar  {
    background-color: black !important;
}


.logo {
    color: red !important;
    font-weight: bold;
}

.form {
    margin-left: 50px;
    margin-right: 500px;
}

.left {
    float: left;
}


.jumbotron {
    background-image: asset-url('gym2.jpg');
    background-size: cover;
    height: 800px;
    color: white;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.card:hover {
  height: 210px;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
  transform: scale(1.1);  
}

.top-margin {
    margin-top: 20px;
}